/*Creating body gradient and aligning text*/
body {
   background-image: linear-gradient(rgb(21, 56, 1), rgb(1, 139, 19), rgb(9, 255, 9));
   text-align: center;
}

/*styling header 1 with proper font and border*/
h1 {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    font-style: oblique;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 66, 0);
}

/*styling header 2 with proper font and border*/
h2 {
    background-color: rgb(0, 66, 0);
    color: white;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 0px;
    border: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 25px;
    font-family:Arial, Helvetica, sans-serif
}

/*styling header 3 with proper font and border*/
h3 {
    background-color: rgb(0, 66, 0);
    color: white;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 5px;
    border: rgb(255, 255, 255);
    border-style:solid;
    border-radius: 25px;
    font-family:Arial, Helvetica, sans-serif
}

/*styling table with proper font, border, padding, and text align*/
table {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: rgb(0, 66, 0);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif
}

/*styling links to match with the rest of the page*/
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-top: 0px;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 66, 0);
    color: white;
  }

  #description {
    margin-right: 5px;
  }

  /*styling paragraphs with proper border, font, margins and background*/
  p {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border: rgb(0, 66, 0);
    border-style: solid;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

